<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>${beetl}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<!-- 定义临时变量，默认定界符<% %> -->
<%
var a = "123";
%>
<!--
ctxPath是Beetl的默认共享变量，表示Web应用ContextPath
-->
<body>
<h>默认共享变量ctxPath：${ctxPath}</h><br/>
<p>共享变量：${beetlTitle}</p>
<p>全局变量：${test}</p>
<p>临时变量：${a}</p>
<p>遍历：<br>
<% for(user in users){ %>
    姓名：${user.name} &nbsp;年龄：${user.age} &nbsp; 创建时间：${user.updateTime, "yyyy-MM-dd HH:mm:ss"} <br>
<%}%>
</p>